.hero-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 112%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #151515;
}
.section-title {
  font-weight: 700;
  font-size: 35px;
  line-height: 112%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  text-align: center;
  color: #151515;
  color: var(--accent-color);
}
.section-subtitle {
  color: #858585;
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 10px;
}
.text {
  font-weight: 400;
  font-size: 20px;
  line-height: 132%;
  letter-spacing: 0.02em;
  color: #151515;
  opacity: 0.74;
}
.card-title {
  font-weight: 600;
  font-size: 45px;
  line-height: 31px;
  span {
    margin-left: -10px;
  }
}
.item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.03em;
  color: #151515;
}
